@model LiveScoresWeb.Entities.BetObj

<div style="background:White; padding:10px;">
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)

		<div class="form-horizontal">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">Bet ID</label>
						<div class="col-sm-3">
							@Html.DisplayFor(x => x.BetId)
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Sport</label>
						<div class="col-sm-3">
							@Html.TextBoxFor(x => x.Sport, new { Style = "padding:2px;", @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Bet Date</label>
						<div class="col-sm-4">
							<input type="date" id="BetDate" name="BetDate" class="form-control" value="@(Model.BetDate.ToString("yyyy-MM-dd"))" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Details</label>
						<div class="col-sm-9">
							@Html.TextBoxFor(x => x.Details, new { Style = "padding:2px;", @class = "form-control" })
							@Html.ValidationMessageFor(x => x.Details)
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Risking ($)</label>
						<div class="col-sm-3">
							@Html.TextBoxFor(x => x.Risking, new { Style = "padding:2px;", @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">To Collect ($)</label>
						<div class="col-sm-3">
							@Html.TextBoxFor(x => x.ToCollect, new { Style = "padding:2px;", @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Outcome</label>
						<div class="col-sm-3">
							@Html.DropDownListFor(x => x.Outcome, new SelectList(Model.OutcomesList, "OutcomeId", "Description"), new { @class = "form-control" })
						</div>
					</div>

					<div class="form-group" style="margin-top: 10px;">
						<div class="col-sm-offset-3 col-sm-8">
							<button type="submit" class="btn btn-success btn-save-width">
								<i class="fa fa-floppy-o"></i> Save
							</button>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">Lesinski </label>
						<div class="col-sm-3">
							@Html.CheckBoxFor(x => x.PersonLesinski, new { Style = "width:30px;", @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Borst </label>
						<div class="col-sm-3">
							@Html.CheckBoxFor(x => x.PersonBorst, new { Style = "width:30px;", @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Kerber </label>
						<div class="col-sm-3">
							@Html.CheckBoxFor(x => x.PersonKerber, new { Style = "width:30px;", @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Tschida </label>
						<div class="col-sm-3">
							@Html.CheckBoxFor(x => x.PersonTschida, new { Style = "width:30px;", @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Vanorny </label>
						<div class="col-sm-3">
							@Html.CheckBoxFor(x => x.PersonVanorny, new { Style = "width:30px;", @class = "form-control" })
						</div>
					</div>
				</div>
			</div>
			@Html.HiddenFor(x => x.BetId)
		</div>
	}
</div>

@section scripts {
	<script>

		$(document)
			.ready(function () {
				$("#" + "@Html.IdFor(model => model.Details)").focus();
			});

		$(window).bind('keydown', function(event) {
			if (event.ctrlKey || event.metaKey) {
				switch (String.fromCharCode(event.which).toLowerCase()) {
				case 's':
					event.preventDefault();
					alert('ctrl-s');
					(this).find('form:first').submit();
					break;
				}
			}

	</script>
}
