@model LiveScoresWeb.Entities.BetObj

<div style="background:White; padding:10px;">
	@using (Html.BeginForm())
	
	{
		<div class="form-horizontal">
			<div class="form-group">
				<label for="lblSiteID" class="col-sm-2 control-label">Bet ID</label>
				<div class="col-sm-10" style="margin-top:7px;">
					@Html.DisplayFor(x => x.BetId)
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Bet Date</label>
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.BetDate, new { Type = "date", Style = "width:200px; padding:2px;", @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Sport</label>
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.Sport, new { Style = "width:100px; padding:2px;", @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Details</label>
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.Details, new { Style = "width:400px; padding:2px;", @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Risking ($)</label>
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.Risking, new { Style = "width:100px; padding:2px;", @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">To Collect ($)</label>
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.ToCollect, new { Style = "width:100px; padding:2px;", @class = "form-control" })
				</div>
			</div>
			@*<div class="form-group">
				<label class="col-sm-2 control-label">Self-Hosted</label>
				<div class="col-sm-10">
					@Html.CheckBoxFor(x => x.GroupBet, new { Style = "width:20px;margin:0;", @class = "form-control" })
				</div>
			</div>*@
			<div class="form-group" style="margin-top:10px;">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success btn-save-width">
						<i class="fa fa-floppy-o"></i> Save
					</button>
				</div>
			</div>
		</div>
		@Html.HiddenFor(x => x.BetId)
	}
</div>

@section scripts {
	<script>
		
	</script>
}