<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>LVFC Scoreboard</title>

	<link rel="icon" href="@Url.Content("~/favicon.ico")" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	@Styles.Render("~/Content/JQueryUI/Bundle")
	@Styles.Render("~/Content/Bootstrap/Bundle")
	@Styles.Render("~/Content/FontAwesome/Bundle")
	<link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/DataTables/extensions/Select//css/select.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Shared/base.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Shared/site.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Action("Index", "Style")" rel="stylesheet" type="text/css" />

	<style>
		.cell-center {
			text-align: center;
		}

		.cell-win {
			background: #32cd32;
			color: white;
		}

		.cell-loss {
			background: #ff0000;
			color: black;
		}

		.cell-push {
			background: grey;
			color: black;
		}

		.list-title {
			color: white;
			font-size: 22px;
			margin-top: 0;
		}

		.new-site-button {
			width: 100px;
			float: right;
			margin-bottom: 10px;
			margin-top: -38px;
			padding: 5px;
		}

		.bet-details {
			font-weight: bold;
			border: 2px solid whitesmoke;
			margin-left: 10px;
			padding-left: 6px;
			padding-right: 6px;
			border-radius: 10px;
		}

		.btn-space {
			margin-right: 10px;
			margin-bottom: 5px;
		}
	</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("LVFC Scoreboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Live Scores", "Index", "Scoreboard")</li>
					<li>@Html.ActionLink("Bets", "Index", "Bets")</li>
					<li>@Html.ActionLink("Reports", "Scripts", "Query")</li>
					@*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year</p>
		</footer>
	</div>

	@Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
	@Scripts.Render("~/Scripts/bootstrap.min.js")
	@Scripts.Render("~/Scripts/jquery-ui.min.js")
	@Scripts.Render("~/Scripts/jszip.min.js")
	@Scripts.Render("~/Scripts/shortcuts.js")
	@Scripts.Render("~/Scripts/MvcGrid/mvc-grid.min.js")
	@Scripts.Render("~/Scripts/DataTables/media/js/jquery.dataTables.min.js")
	@Scripts.Render("~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js")
	@Scripts.Render("~/Scripts/DataTables/extensions/Buttons/js/dataTables.Buttons.min.js")
	@Scripts.Render("~/Scripts/DataTables/extensions/Buttons/js/buttons.html5.min.js")
	@Scripts.Render("~/Scripts/DataTables/extensions/Responsive/js/dataTables.responsive.min.js")
	@Scripts.Render("~/Scripts/DataTables/extensions/Select/js/dataTables.select.min.js")
	@RenderSection("scripts", required: false)

	<script>
		//$("#refreshSelect").change(function (){
		//	alert($(this).val());
		//});

		$(document).ready(function () {
			var refreshRate = localStorage.getItem("refresh-rate");
			if (refreshRate != null && refreshRate !== "") {
				$('#refreshSelect').val(refreshRate);
				$('#refreshSelect').change();
			}
		});

		$('#refreshSelect').change(function () {
			$(this).find(":selected").each(function () {
				var newVal = $(this).val();
				console.log("Auto refreshed changed to: " + newVal);
				localStorage.setItem("refresh-rate", newVal);
				setInterval('window.location.reload()', newVal);
			});
		});
	</script>
</body>
</html>
